ul {
    padding: 0 10px;
}

li {
    list-style: none;
    padding: 5px 0;
}

.remove {
    cursor: pointer;
    font-size: .85em;
    color: rgba(197, 5, 5, 0.918);
    padding-right: 8px;
}

.remove:hover {
    opacity: .7;
}

.strikethrough {
    color: rgba(197, 5, 5, 0.918);
    text-decoration: line-through;
}

.editableItem {
    cursor:pointer;
}

.editableItem:hover {
    opacity: .7;
    text-decoration: underline;
}

.editing {
    font-size: .8em;
    opacity: .85;
    font-style: italic;
}

.active {
    opacity: .85;
}